### aliases #####################################
if [[ "${OSTYPE}" == "linux"* ]] || [[ $OSTYPE == cygwin ]]; then
	   alias ls='ls -F --color=auto'
	   alias sed='sed -r'
	   # if encountering Mac/BSD scripts...
	   # alternative: sudo ln -s $(which date) /bin/gdate
	   #		`ln` works across system/shell, unlike alias
	   alias gfind='find'
	   alias gdate='date'
	   #alias gsed, gtar, gmake
	
		# Export pbcopy / pbpaste to linux 
		alias pbcopy="xclip -selection clipboard"
		alias pbpaste="xclip -selection clipboard -o"

# MAC OSX/BSD
elif [[ "${OSTYPE}" == "darwin"* ]]; then 
	# Open current OSX Finder directory in Terminal:
	# faster than dragging from finder to terminal
	cdf () {
	        target=`osascript -e 'tell application "Finder" to if (count of Finder windows) > 0 then get POSIX path of (target of front Finder window as text)'`
	        if [ "$target" != "" ]
	        then
	                cd "$target"
	                pwd
	        else
	                echo 'No Finder window found' >&2
	        fi
	}
	   alias ls='ls -GF'
	   alias sed='sed -E'
fi

# ls, remembers alias cascades.
alias l="ls"
	# or use l() 
alias ll="ls -lh"
alias lla="ls -lhA"
alias la="ls -A"
# show only dir
alias lsd="ls -d */"
# show hidden files / dotfiles only
alias lsh="ls -ad .*"

alias tree='tree -FC -I ".git"'
# ignore .git/*

alias du="du -h"
alias du1="du -h --max-depth=1"

alias df="df -h"
alias h="history"

alias f="find . -name"

# Quicker navigation
alias ~="cd ~"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# mkdir and cd into it
# comment: https://news.ycombinator.com/item?id=18898523
mcd() { mkdir -p "$@" && builtin cd "$@"; }
# renamed from mdc and mkcd to mcd()

# after cd, list files
# comment: https://news.ycombinator.com/item?id=18898523
# removed, for now, no need to see it all the time
# perhaps rename it to cdl instead of cd
# function cd {
#         builtin cd "${@}"
#         if [[ "$(stat -c "%b" .)" -lt "100" ]]
#         then
#         if [ "$( ls -C -w $COLUMNS | wc -l )" -gt 30 ] ; then
#             ls -C -w $COLUMNS --color=always | awk 'NR < 16 { print }; NR == 16 { print " (... snip ...)" }; { buffer[NR % 14] = $0 } END { for( i = NR + 1; i <= NR+14; i++ ) print buffer[i % 14] }'
#         else
#             ls
#         fi
#         fi
#     }

# open a file with less or a directory with ls
# comment: https://news.ycombinator.com/item?id=18898523
# zsh complains about alias
# l() { if [ -f "$1" ]; then less "$1"; else command ls "${1:-`pwd`}"; fi }

# Colored up cat!
# You must install Pygments first - "sudo easy_install Pygments"
# TODO: change it with bat or another app
alias c='pygmentize -O style=monokai -f console256 -g'

#color grep
#alias grep='GREP_COLOR="1;37;45" grep --color=auto'
# replaced grep with egrep (or grep -E for extended regex)
alias grep='GREP_COLOR="1;37;45" egrep --color=auto'

# otter.pro: colored pygmentized less
# replaced with .lessfilter script.
# if LESS="-x4R" is not set, use less -x4R option. -N=line #.
#cl() {
#	pygmentize -O style=monokai -f console256 -g "$1" | less
	# c "$1" | less
#}

# Shortcuts to my Code folder in my home directory
#alias code="cd ~/Code"
#alias sites="cd ~/Code/sites"

# TODO: need to convert to function, as it doesn't function
# due to alias sudo defined below
# alias sudo vi='sudo -e'
# alias sudo vim='sudo -e'

# Enable aliases to be sudo’ed
# if not, aliases are lost when using sudo
alias sudo='sudo '

# mac specific
if [[ $OSTYPE == darwin* ]]; then
	# $preview this.png
	alias preview="open -a Preview"
	#alias s='open -a "Sublime Text"'
	# 
	# v is already used by ~/bin/v
	# which should open file in new tab in existing MacVim window
	#
	# simple macvim, -p = use tab to open multiple files
	# Not sophisticated as ~/bin/v since it opens new MacVim instead of reusing
	
	# mvim not working in certain situation, so I added alias here
	# Remove this line if mvim won't load properly
	#alias mvim="/Applications/MacVim.app/Contents/MacOS/MacVim"
	#alias mvim="/Applications/MacVim.app/Contents/MacOS/bin/gvim"
	alias mvim="/Applications/MacVim.app/Contents/bin/gvim"

	# normal mvim
	alias vi="mvim -p"
	alias v="mvim -p"
	alias vim="mvim -p"

#elif [[ $OSTYPE == freebsd* ]]; then
else
	alias vi='vim'
	alias v='vim'
fi
#vi read-only (there's already a /bin/view)
#alias view="vim -p -R"

########  Git ##################################################
# You must install Git first - ""
alias g="git"
alias gs='git status'
alias ga='git add -A'
alias gc='git commit -m' # requires you to type a commit message
alias gac='git add -A && git commit -m' # requires you to type a commit message
alias gp='git push'

# go to root git directory
alias cdgit='builtin cd $(git rev-parse --show-toplevel)'

####### tmux ###################################################
# tmux with -2=256 color
# not sure if needed, and instead use screen256 instead.
alias tmux="tmux -2"

alias tma='tmux attach -d -t'
    # tma <tab> will do tab completion, useful for joining existing session

alias tmn='tmux new -s $(basename $(pwd))'


################## Third-party app ################################
# ffmpeg/ffprobe
alias ffprobe='ffprobe -hide_banner'

# imagemagick -- moved to separate script
# alias resize='mogrify -filter Triangle -define filter:support=2 -thumbnail 1024 -unsharp 0.25x0.25+8+0.065 -dither None -posterize 136 -quality 82 -define jpeg:fancy-upsampling=off -define png:compression-filter=5 -define png:compression-level=9 -define png:compression-strategy=1 -define png:exclude-chunk=all -interlace none -colorspace sRGB -strip' 

# TODO: search for files with TODO / FIXME
alias TODO='ag TODO'
# or could be done via
# alias TODO="grep -E 'FIXME|TODO'"
# similar to 'rake notes'

# fasd
alias fv='fasd -f -e vim' # quick opening files with vim

# misc
alias weather='curl wttr.in/jacksonville'

# IP ADDRESS

alias ip='curl checkip.amazonaws.com'

##############   END   #####################
