#aliases

# ls, remember alias cascades.
## OS Specific
if [[ $OSTYPE == linux* ]] || [[ $OSTYPE == cygwin ]]; then
	   alias ls='ls -F --color=auto'
else
	   alias ls='ls -GF'
fi
alias ll="ls -lh"
alias la="ls -a"
alias lla="ls -lha"

# mac specific
if [[ $OSTYPE == darwin* ]]; then
	# $preview this.png
	alias preview="open -a Preview"
	#alias s='open -a "Sublime Text"'
	# 
	# v is already used by ~/bin/v
	# which should open file in new tab in existing MacVim window
	#
	# simple macvim, -p = use tab to open multiple files
	# Not sophisticated as ~/bin/v since it opens new MacVim instead of reusing
	alias vi="mvim -p"
	alias vim="mvim -p"

elif [[ $OSTYPE == freebsd* ]]; then
	alias vi='vim'
fi

# Quicker navigation
alias ~="cd ~"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# Shortcuts to my Code folder in my home directory
#alias code="cd ~/Code"
#alias sites="cd ~/Code/sites"

# TODO: need to convert to function, as it doesn't function
# due to alias sudo defined below
# alias sudo vi='sudo -e'
# alias sudo vim='sudo -e'

# Enable aliases to be sudo’ed
# if not, aliases are lost when using sudo
alias sudo='sudo '

# Colored up cat!
# You must install Pygments first - "sudo easy_install Pygments"
alias c='pygmentize -O style=monokai -f console256 -g'

# otter.pro: colored pygmentized less
# replaced with .lessfilter script.
# if LESS="-x4R" is not set, use less -x4R option. -N=line #.
#cl() {
#	pygmentize -O style=monokai -f console256 -g "$1" | less
	# c "$1" | less
#}

# Git
# You must install Git first - ""
alias g="git"
alias gs='git status'
alias ga='git add .'
alias gc='git commit -m' # requires you to type a commit message
alias gp='git push'

alias du="du -h"
alias d="du -h -d=1"

alias df="df -h"
alias h="history"
# tmux with -2=256 color
alias tmux="tmux -2"

#vi read-only (there's already a /bin/view)
#alias view="vim -p -R"

#color grep
alias grep='GREP_COLOR="1;37;45" grep --color=auto'

# TODO: search for files with TODO / FIXME
alias TODO='ag TODO'
# or could be done via
# alias TODO="grep -E 'FIXME|TODO'"
# similar to 'rake notes'

##############   END   #####################
