[user]
	name = otter.pro
	email = coconutstudio@yahoo.com
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	eol = native
	# eol = lf
	# autocrlf = input # CRLF to LF on commit
	autocrlf = false  # default, preserve
	filemode = false
[push]
	default = matching
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	unstage = reset HEAD --
	ignore = update-index --assume-unchanged
[pull]
	rebase = false
