[user]
	name = otter.pro
	email = coconutstudio@yahoo.com
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	eol = lf
	autocrlf = input
[push]
	default = matching
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
