# found in coderwall.com/p/oqtj8w
# search history using up-down arrow ie
# after "cd /", looks up all cd / history
"\e[A": history-search-backward
"\e[B": history-search-forward
set show-all-if-ambiguous on
set completion-ignore-case on

set completion-ignore-case On
set bell-style none
# disabled vi-mode.  Prefer emacs? 
#set editing-mode vi

$if mode=vi
      set keymap vi-command
      "gg": beginning-of-history
      "G": end-of-history
      set keymap vi-insert
      "jj": vi-movement-mode
      "\C-p": history-search-backward
      "\C-l": clear-screen
