snippet l2 "Link to something"
[${1:${VISUAL:Text}}](${3:http://${2:www.url.com}})$0
endsnippet

snippet == "header"
==============================
endsnippet

snippet -- "header"
------------------------------
endsnippet

# works in *Nix, not in DOS
# in DOS, need date /T
snippet today
Today is the `date +%d.%m.%y`.
endsnippet

# TODO: YML frontmatter?


