# TODO: YML frontmatter?

# snippet l2 "Link to something"
# [${1:${VISUAL:Text}}](${3:http://${2:www.url.com}})$0
# endsnippet


snippet == "header"
==============================
endsnippet

snippet -- "header"
------------------------------
endsnippet
# works in *Nix, not in DOS
# in DOS, need date /T
snippet today
Today:`date +%Y-%m-%d`
endsnippet

# https://castel.dev/post/lecture-notes-1/
snippet box2 "Box"
`!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
│ $1 │
`!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`
$0
endsnippet

# Emojis and special chars
snippet =>
⇒ 
endsnippet
snippet ==>
⟹
endsnippet
snippet ->
→ 
endsnippet
snippet <=
⇐ 
endsnippet
snippet <-
← 
endsnippet
snippet :tip:
💡
endsnippet
snippet :warning:
⚠️
endsnippet
snippet :coffee:
☕️
endsnippet
snippet :check:
✅ 
endsnippet
snippet :bomb:
💣
endsnippet
snippet :shrug:
🤷
endsnippet
snippet :robot:
🤖
endsnippet
# ⛔️🚫❗️❓⚠️✅ 🤖👍👎🤷
# 🤦👓🎓💣🔑🗝
